<div class="sidebar" id="sidebar">
    <div class="sidebar-logo">
        <div class="logo-icon">
            <i class="bi bi-grid-fill"></i>
        </div>
        <span class="logo-text">ADD MINT</span>
    </div>

    <ul class="sidebar-menu">
        <li class="menu-title">Main</li>
        <li class="menu-item">
            <a href="index.html"><i class="bi bi-grid-1x2-fill"></i><span>Dashboard</span></a>
        </li>

        <!-- Components -->
        <li class="menu-item dropdown">
            <a href="#" class="menu-link js-dropdown">
                <i class="bi bi-box-seam"></i>
                <span>Components</span>
                <i class="bi bi-chevron-down arrow"></i>
            </a>

            <ul class="dropdown">
                <li><a href="menu.html">Menu</a></li>
                <li><a href="submenu.html">Sub Menu</a></li>
                <li><a href="childmenu.html">Child Menu</a></li>
            </ul>
        </li>

        <!-- Contents -->
        <li class="menu-item dropdown">
            <a href="#" class="menu-link js-dropdown">
                <i class="bi bi-file-earmark-text"></i>
                <span>Contents</span>
                <i class="bi bi-chevron-down arrow"></i>
            </a>

            <ul class="dropdown">
                <li><a href="tarif.html">Tarif Pelayanan</a></li>
                <li><a href="jadwal.html">Jadwal Dokter</a></li>
                <li><a href="halaman.html">Halaman</a></li>
                <li><a href="pengumuman.html">Pengumuman</a></li>
                <li><a href="berita.html">Berita</a></li>
                <li><a href="link.html">Link Terkait</a></li>
            </ul>
        </li>

        <!-- Media -->
        <li class="menu-item dropdown">
            <a href="#" class="menu-link js-dropdown">
                <i class="bi bi-image"></i>
                <span>Media</span>
                <i class="bi bi-chevron-down arrow"></i>
            </a>

            <ul class="dropdown">
                <li><a href="images.html">Images</a></li>
                <li><a href="infografis.html">Infografis</a></li>
                <li><a href="files.html">Files</a></li>
            </ul>
        </li>

        <li class="menu-title">Settings</li>
        <li class="menu-item">
            <a href="pengaturan.html">
                <i class="bi bi-gear"></i>
                <span>Pengaturan</span>
            </a>
        </li>

        <li class="menu-item">
            <a href="/logout">
                <i class="bi bi-box-arrow-left"></i>
                <span>Logout</span>
            </a>
        </li>

    </ul>
</div>

<!-- Overlay untuk mobile -->
<div id="sidebarOverlay" class="sidebar-overlay" onclick="closeSidebar()"></div>